@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

*{
  margin: 0;
  padding: 0;
}

  body,html{
    height: 100%;
    margin: 0;
  }

/************************************ Heading bg **************************************/

    .bg{
        background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
      }
      
/************************************ Dropdown Menu **************************************/

  .icon-container {  /*Contain the menu icon */
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 100px;
    height: 200px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  label .hamburger { /* Second line of the icon */
    position: absolute;
    top: 135px;
    left: 40px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  /* First and Third line of the icon */
  label .hamburger:after, label .hamburger:before { 
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; } /* the toggle box, when it is clicked, menu will be displayed */
  
  label input:checked + .icon-container { /*Spread out the white background */
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /* Bring out the full-size white background when the icon is clicked  */
    border-radius: 0;
    background: white !important;
  }

  /*Animation of the icon */
  label input:checked + .icon-container .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;  
    background: black;
  }

 /* Display the menu when click */ 
  label input:checked + .icon-container + ul { 
    opacity: 1; 
  }
  
   label ul { 
    z-index: 200;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    line-height: 3.5rem;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 4vmin;
    text-transform: uppercase;
    text-align: center;
  }

 label a:hover{
   color: rgb(218, 211, 203); 
 }
 
/************************************ Recipe Title **************************************/

.heading h1{
    margin-top: 2rem;
    font-family: 'Baskervville', serif;
    font-size: 35px;
    text-align: center;
    }
    
    .button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    
    .button{
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-style: solid;
      border-color: rgb(168, 155, 155);
      background-color: transparent;
      border-radius: 30px;
      width: 120px;
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      font-family:'Karla', sans-serif; 
    }
    
    .button:hover{
      opacity: 0.5;
    }

/************************************ Recipe Cards **************************************/
/* About Us Page Cards */


.container2{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family:'Karla', sans-serif; 

}

.heading {
text-align: center;
}


body {
    background-color: white;

  
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Karla', sans-serif; 
}

.card {
    width: 400px;
    margin: 20px;
    height: 400px;
    font-style: bold;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: rgb(241, 217, 221);
    font-family: 'Karla', sans-serif !important;
    padding: 1rem;
}

.card h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskervville', serif;
}

p span {
    font-family: 'Baskervville', serif;
    font-weight: 600;
    font-size: 22px;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}


.car-1 {
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/2/2016/06/24086.jpg?quality=90&resize=556,505')
}

.car-2 {
    background-image: url('https://www.thelastfoodblog.com/wp-content/uploads/2021/05/tofu-katsu-curry-1.jpg')


}

.car-3{
    background-image: url('https://hips.hearstapps.com/delish/assets/17/28/1499895176-classic-falafel-delish.jpg')

}
.card h2 {
    padding: 10px;
}
.card p{
    padding: 10px;

}

.card a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    margin: 20px 50px;
    text-decoration: none;
 
}
.card:hover {
    background-color: rgb(247, 220, 224);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease-in-out;

}

/************************************ Footer **************************************/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
  
  
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#e9edee
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

/************************************** Responsive Setting *************************************/

@media screen and (max-width: 768px) {
  .bg{
    height: 300px !important;
    width: 100%;
  }
}@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

*{
  margin: 0;
  padding: 0;
}

  body,html{
    height: 100%;
    margin: 0;
  }

/************************************ Heading bg **************************************/

    .bg{
        background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
      }
      
/************************************ Dropdown Menu **************************************/

  .icon-container {  /*Contain the menu icon */
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 100px;
    height: 200px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  label .hamburger { /* Second line of the icon */
    position: absolute;
    top: 135px;
    left: 40px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  /* First and Third line of the icon */
  label .hamburger:after, label .hamburger:before { 
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; } /* the toggle box, when it is clicked, menu will be displayed */
  
  label input:checked + .icon-container { /*Spread out the white background */
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /* Bring out the full-size white background when the icon is clicked  */
    border-radius: 0;
    background: white !important;
  }

  /*Animation of the icon */
  label input:checked + .icon-container .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;  
    background: black;
  }

 /* Display the menu when click */ 
  label input:checked + .icon-container + ul { 
    opacity: 1; 
  }
  
   label ul { 
    z-index: 200;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    line-height: 3.5rem;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 4vmin;
    text-transform: uppercase;
    text-align: center;
  }

 label a:hover{
   color: rgb(218, 211, 203); 
 }
 
/************************************ Recipe Title **************************************/

.heading h1{
    margin-top: 2rem;
    font-family: 'Baskervville', serif;
    font-size: 35px;
    text-align: center;
    }
    
    .button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    
    .button{
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-style: solid;
      border-color: rgb(168, 155, 155);
      background-color: transparent;
      border-radius: 30px;
      width: 120px;
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      font-family:'Karla', sans-serif; 
    }
    
    .button:hover{
      opacity: 0.5;
    }

/************************************ Recipe Cards **************************************/
/* About Us Page Cards */


.container2{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family:'Karla', sans-serif; 

}

.heading {
text-align: center;
}


body {
    background-color: white;

  
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Karla', sans-serif; 
}

.card {
    width: 400px;
    margin: 20px;
    height: 400px;
    font-style: bold;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: rgb(241, 217, 221);
    font-family: 'Karla', sans-serif !important;
    padding: 1rem;
}

.card h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskervville', serif;
}

p span {
    font-family: 'Baskervville', serif;
    font-weight: 600;
    font-size: 22px;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}


.car-1 {
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/2/2016/06/24086.jpg?quality=90&resize=556,505')
}

.car-2 {
    background-image: url('https://www.thelastfoodblog.com/wp-content/uploads/2021/05/tofu-katsu-curry-1.jpg')


}

.car-3{
    background-image: url('https://hips.hearstapps.com/delish/assets/17/28/1499895176-classic-falafel-delish.jpg')

}
.card h2 {
    padding: 10px;
}
.card p{
    padding: 10px;

}

.card a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    margin: 20px 50px;
    text-decoration: none;
 
}
.card:hover {
    background-color: rgb(247, 220, 224);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease-in-out;

}

/************************************ Footer **************************************/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
  
  
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#e9edee
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

/************************************** Responsive Setting *************************************/

@media screen and (max-width: 768px) {
  .bg{
    height: 300px !important;
    width: 100%;
  }
}@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

*{
  margin: 0;
  padding: 0;
}

  body,html{
    height: 100%;
    margin: 0;
  }

/************************************ Heading bg **************************************/

    .bg{
        background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
      }
      
/************************************ Dropdown Menu **************************************/

  .icon-container {  /*Contain the menu icon */
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 100px;
    height: 200px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  label .hamburger { /* Second line of the icon */
    position: absolute;
    top: 135px;
    left: 40px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  /* First and Third line of the icon */
  label .hamburger:after, label .hamburger:before { 
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; } /* the toggle box, when it is clicked, menu will be displayed */
  
  label input:checked + .icon-container { /*Spread out the white background */
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /* Bring out the full-size white background when the icon is clicked  */
    border-radius: 0;
    background: white !important;
  }

  /*Animation of the icon */
  label input:checked + .icon-container .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;  
    background: black;
  }

 /* Display the menu when click */ 
  label input:checked + .icon-container + ul { 
    opacity: 1; 
  }
  
   label ul { 
    z-index: 200;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    line-height: 3.5rem;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 4vmin;
    text-transform: uppercase;
    text-align: center;
  }

 label a:hover{
   color: rgb(218, 211, 203); 
 }
 
/************************************ Recipe Title **************************************/

.heading h1{
    margin-top: 2rem;
    font-family: 'Baskervville', serif;
    font-size: 35px;
    text-align: center;
    }
    
    .button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    
    .button{
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-style: solid;
      border-color: rgb(168, 155, 155);
      background-color: transparent;
      border-radius: 30px;
      width: 120px;
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      font-family:'Karla', sans-serif; 
    }
    
    .button:hover{
      opacity: 0.5;
    }

/************************************ Recipe Cards **************************************/
/* About Us Page Cards */


.container2{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family:'Karla', sans-serif; 

}

.heading {
text-align: center;
}


body {
    background-color: white;

  
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Karla', sans-serif; 
}

.card {
    width: 400px;
    margin: 20px;
    height: 400px;
    font-style: bold;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: rgb(241, 217, 221);
    font-family: 'Karla', sans-serif !important;
    padding: 1rem;
}

.card h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskervville', serif;
}

p span {
    font-family: 'Baskervville', serif;
    font-weight: 600;
    font-size: 22px;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}


.car-1 {
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/2/2016/06/24086.jpg?quality=90&resize=556,505')
}

.car-2 {
    background-image: url('https://www.thelastfoodblog.com/wp-content/uploads/2021/05/tofu-katsu-curry-1.jpg')


}

.car-3{
    background-image: url('https://hips.hearstapps.com/delish/assets/17/28/1499895176-classic-falafel-delish.jpg')

}
.card h2 {
    padding: 10px;
}
.card p{
    padding: 10px;

}

.card a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    margin: 20px 50px;
    text-decoration: none;
 
}
.card:hover {
    background-color: rgb(247, 220, 224);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease-in-out;

}

/************************************ Footer **************************************/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
  
  
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#e9edee
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

/************************************** Responsive Setting *************************************/

@media screen and (max-width: 768px) {
  .bg{
    height: 300px !important;
    width: 100%;
  }
}@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anek+Telugu:wght@200&family=Baskervville&family=Cormorant+Garamond:ital,wght@1,500&family=Dosis:wght@500&family=Inconsolata&family=Karla:wght@200&family=Quicksand:wght@500&family=Square+Peg&display=swap');

*{
  margin: 0;
  padding: 0;
}

  body,html{
    height: 100%;
    margin: 0;
  }

/************************************ Heading bg **************************************/

    .bg{
        background-image: url("https://images.unsplash.com/photo-1547592180-85f173990554?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 100;
      }
      
/************************************ Dropdown Menu **************************************/

  .icon-container {  /*Contain the menu icon */
    position: absolute;
    right: 0px;
    top: -100px;
    z-index: 100;
    width: 100px;
    height: 200px;
    background: transparent;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  label .hamburger { /* Second line of the icon */
    position: absolute;
    top: 135px;
    left: 40px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  /* First and Third line of the icon */
  label .hamburger:after, label .hamburger:before { 
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
  }
  
  label .hamburger:before { top: -10px; }
  
  label .hamburger:after { bottom: -10px; }
  
  label input { display: none; } /* the toggle box, when it is clicked, menu will be displayed */
  
  label input:checked + .icon-container { /*Spread out the white background */
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF; /* Bring out the full-size white background when the icon is clicked  */
    border-radius: 0;
    background: white !important;
  }

  /*Animation of the icon */
  label input:checked + .icon-container .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    background: black;
  }
  
  label input:checked + .icon-container .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;  
    background: black;
  }

 /* Display the menu when click */ 
  label input:checked + .icon-container + ul { 
    opacity: 1; 
  }
  
   label ul { 
    z-index: 200;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    line-height: 3.5rem;
  }
  
  label a {
    margin-bottom: 1em;
    display: block;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 4vmin;
    text-transform: uppercase;
    text-align: center;
  }

 label a:hover{
   color: rgb(218, 211, 203); 
 }
 
/************************************ Recipe Title **************************************/

.heading h1{
    margin-top: 2rem;
    font-family: 'Baskervville', serif;
    font-size: 35px;
    text-align: center;
    }
    
    .button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    
    .button{
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-style: solid;
      border-color: rgb(168, 155, 155);
      background-color: transparent;
      border-radius: 30px;
      width: 120px;
      padding: 10px;
      display: inline-block;
      font-size: 20px;
      text-align: center;
      font-family:'Karla', sans-serif; 
    }
    
    .button:hover{
      opacity: 0.5;
    }

/************************************ Recipe Cards **************************************/
/* About Us Page Cards */


.container2{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    font-family:'Karla', sans-serif; 

}

.heading {
text-align: center;
}


body {
    background-color: white;

  
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Karla', sans-serif; 
}

.card {
    width: 400px;
    margin: 20px;
    height: 400px;
    font-style: bold;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: rgb(241, 217, 221);
    font-family: 'Karla', sans-serif !important;
    padding: 1rem;
}

.card h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Baskervville', serif;
}

p span {
    font-family: 'Baskervville', serif;
    font-weight: 600;
    font-size: 22px;
}

.card-image{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
}


.car-1 {
    background-image: url('https://images.immediate.co.uk/production/volatile/sites/2/2016/06/24086.jpg?quality=90&resize=556,505')
}

.car-2 {
    background-image: url('https://www.thelastfoodblog.com/wp-content/uploads/2021/05/tofu-katsu-curry-1.jpg')


}

.car-3{
    background-image: url('https://hips.hearstapps.com/delish/assets/17/28/1499895176-classic-falafel-delish.jpg')

}
.card h2 {
    padding: 10px;
}
.card p{
    padding: 10px;

}

.card a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    margin: 20px 50px;
    text-decoration: none;
 
}
.card:hover {
    background-color: rgb(247, 220, 224);
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease-in-out;

}

/************************************ Footer **************************************/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow: hidden;
  }
  
  
  .ml3 {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
  }
  
  .site-footer
  {
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    color:#737373
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#e9edee
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.dribbble:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

/************************************** Responsive Setting *************************************/

@media screen and (max-width: 768px) {
  .bg{
    height: 300px !important;
    width: 100%;
  }
}