.container{
    display:grid;
    height:100vh;
    width:100vn;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
       "nav nav nav nav"
       "main main main main"
       "content1 content1 content1 content1"
       "content2 content2 content2 content2"
       "content3 content3 content3 content3"
       "footer footer footer footer";
    
    font-family:'Courier New', monospace; 

    
}



nav{
    background: white;
    grid-area:nav;
    font-display: none;
    text-align: center;
    

}



main{
background: #ffe6e6;
grid-area:main;
font-weight: bold;


}



#content1{
    background: #ffe6e6;
    grid-area: content1;
    font-weight:bold;
    
}
#content2{
    background: #ffe6e6;
    grid-area: content2;
    font-weight:bold;
    
}
#content3{
    background: black;
    grid-area: content3;
    font-weight:bold;
    
}


footer{
    background: black;
    grid-area: footer;
    font-weight:bold;

}